.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  text-align: center;
}

.navbar a:hover{
  background-color: var(--color-primary-dark);
}

