*{
  box-sizing: border-box;
}

.footer{
  display: flex;
  background-color: #333;
  position: absolute;
  justify-content: center;
  gap:40px;
  bottom: 0;
  width: 100%;
  color:#eee;
}

.icons{
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
}

.footer-icons{
  min-height: 160px;
}

h2 + ul li{
  list-style-type: none;
}

h2 + ul li a {
  text-decoration: none;
  color: #eee;
  font-size: 18px;
}

h2 + ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap:7px;
}

.footer-navs{
  
}

